

 <div class="row">

<form [formGroup]="form" (ngSubmit)="submit()">  
<div class="form-group">  
    <label for="website">Select city:</label>  
    <select formControlName="city" class="form-control dropdown">  
        <option disabled>Select city</option>          
        <option *ngFor="let cityName of cities" [value]="cityName">
            {{cityName}}
        </option>
    </select>  
</div>  
 
<br>
<button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>

</div>


<!-- <pre>
    {{cityForecast|json}}
    </pre> -->

    <p>&nbsp;</p>
    <h1>{{cityName}}</h1>




    <div class="row">
<div class="d-flex">
<app-city-forecast [cityName]="cityName" *ngFor="let forecastItem of cityForecast" [forecast]="forecastItem"></app-city-forecast>
</div>
</div>


